{% load static %}

<footer class="footer mt-auto">
    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-between align-items-center border-top ps-1 pe-1">
        <div  class="col-md-4 d-flex ">
          <img src="{% static 'images/eltelogo.png' %}" alt="" width="60" height="30">
        </div>
        <div class="col-md-4 mb-0 text-muted align-items-center justify-content-center text-center">2023 Dlab</div>
        <p class="col-md-4 text-muted text-end">IDPro</p>
        </div>
    </div>
</footer>

