<div id="pager" class="pager">
          <form >
              <i class="fa-solid fa-angles-left first"></i>
              <i class="fa-solid fa-circle-arrow-left prev"></i>
            <!-- the "pagedisplay" can be any element, including an input -->
            <span class="pagedisplay" data-pager-output-filtered="{endRow} / {filteredRows} of {totalRows} total rows"></span>
              <i class="fa-solid fa-circle-arrow-right next"></i>
              <i class="fa-solid fa-angles-right last"></i>
            <select class="pagesize" >
                <option value="all">All Rows</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
          </form>
</div>